.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__search {
    margin: 0 45px;
    padding: 15px 44px;
    width: 630px;
    background: #f3f3f3 url("../assets/Search.svg") no-repeat 15px center;
  }

  &__login {
    margin: 15px 0;
    margin-left: auto;
    background-color: $main-color;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
  }
}
